	body{
		background: url("images/BG.png") no-repeat center center fixed;
		background-size: cover; 
	}
	table{
		background-color: #ffffff;
		border-collapse: collapse;
	}
	td{
		padding: 4px;
		border: 1px solid #000000;
	}
	.box{
		background-color: #e8e8e8;
		border-radius: 15px;
		display: inline-block;
		padding: 10px;
		line-height: 35px;
		font-size: 18px;
	}
	.boxHeader{
		font-family: sans-serif;
		margin-bottom: 120px;
		line-height: 20px;
		font-size: 15px;
		color: #509f31;
	}
	.boxError{
		background-color: #ff7f7f;
	}
	.boxResult{
		background-color: #97ff89; 
	}
	.hidden{
		display: none;
	}
	.formContainer, .flexCenter{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.bold{
		font-weight: bold;
	}
	@media (max-width: 550px) {
		.formContainer{
			flex-direction: column;
		}
		header{
			margin-bottom: 70px;
		}
	}
	@media (min-width: 551px){
		.boxSpaceRight{
			margin-right: 50px;
		}
	}