	body{
		background: url("images/BG.png") no-repeat center center fixed;
		background-size: cover; 
	}
	table, tr, td{
		border: none;
	}
	.resultTable{
		background-color: #ffffff;
		border-collapse: collapse;
	}
	.tdWithBorders{
		padding: 4px;
		border: 1px solid #000000;
	}
	.box{
		background-color: #e8e8e8;
		border-radius: 15px;
		display: inline-block;
		padding: 10px;
		line-height: 35px;
		font-size: 18px;
	}
	.boxHeader{
		font-family: sans-serif;
		line-height: 20px;
		font-size: 15px;
		color: #000000;
	}
	.boxError{
		background-color: #ff7f7f;
	}
	.boxResult{
		background-color: #97ff89; 
	}
	.hidden{
		display: none;
	}
	.formContainer, .flexCenter{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.bold{
		font-weight: bold;
	}

	button:active, button.active {
            background: #b9c3d1;
        }