body {
    overflow: hidden;
    background: black;
}

.loginPage {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 980">\
        <path stroke="black" fill="rgba(0,0,0,0.94)" d="M 0 0 L 1920 0 L 1920 980 L 0 980 Z"></path>\
        <style>\
            .loginLine{\
                opacity:0;\
            }\
\
            @keyframes logLine {\
                0% {\
                    opacity: 0;\
                }\
                10%, 60% {\
                    opacity: 1;\
                }\
                100%{\
                    opacity: 0;\
                }\
            }\
        </style>\
        <path class="loginLine" style="animation: logLine 2s 0.00s infinite" stroke="rgba(255,255,255,0.6)" stroke-width="5" d="M 0 100 L 1920 900"></path>\
        <path class="loginLine" style="animation: logLine 2s 0.20s infinite" stroke="rgba(255,255,255,0.6)" stroke-width="5" d="M 1920 250 L 0 800"></path>\
        <path class="loginLine" style="animation: logLine 2s 0.40s infinite" stroke="rgba(255,255,255,0.6)" stroke-width="5" d="M 1500 0 L 800 980"></path>\
        <path class="loginLine" style="animation: logLine 2s 0.60s infinite" stroke="rgba(255,255,255,0.6)" stroke-width="5" d="M 0 300 L 1920 150"></path>\
        <path class="loginLine" style="animation: logLine 2s 0.80s infinite" stroke="rgba(255,255,255,0.6)" stroke-width="5" d="M 700 0 L 900 980"></path>\
        <path class="loginLine" style="animation: logLine 2s 1.00s infinite" stroke="rgba(255,255,255,0.6)" stroke-width="5" d="M 1920 550 L 300 980"></path>\
        <path class="loginLine" style="animation: logLine 2s 1.20s infinite" stroke="rgba(255,255,255,0.6)" stroke-width="5" d="M 250 0 L 550 980"></path>\
        <path class="loginLine" style="animation: logLine 2s 1.40s infinite" stroke="rgba(255,255,255,0.6)" stroke-width="5" d="M 1200 980 L 0 500"></path>\
        <path class="loginLine" style="animation: logLine 2s 1.60s infinite" stroke="rgba(255,255,255,0.6)" stroke-width="5" d="M 1700 980 L 1000 0"></path>\
        <path class="loginLine" style="animation: logLine 2s 1.80s infinite" stroke="rgba(255,255,255,0.6)" stroke-width="5" d="M 1800 0 L 1500 980"></path>\
        <path class="loginLine" style="animation: logLine 2s 2.00s infinite" stroke="rgba(255,255,255,0.6)" stroke-width="5" d="M 200 980 0 L 1650 0"></path>\
        <path class="loginLine" style="animation: logLine 2s 2.20s infinite" stroke="rgba(255,255,255,0.6)" stroke-width="5" d="M 450 0 L 700 980"></path>\
        <path class="loginLine" style="animation: logLine 2s 2.40s infinite" stroke="rgba(255,255,255,0.6)" stroke-width="5" d="M 600 0 L 1200 980"></path>\
        <path class="loginLine" style="animation: logLine 2s 2.60s infinite" stroke="rgba(255,255,255,0.6)" stroke-width="5" d="M 500 980 L 950 0"></path>\
        <path class="loginLine" style="animation: logLine 2s 2.80s infinite" stroke="rgba(255,255,255,0.6)" stroke-width="5" d="M 1550 980 L 1300 0"></path>\
        <path class="loginLine" style="animation: logLine 2s 3.00s infinite" stroke="rgba(255,255,255,0.6)" stroke-width="5" d="M 1200 0 L 1920 700"></path>\
        <path class="loginLine" style="animation: logLine 2s 3.20s infinite" stroke="rgba(255,255,255,0.6)" stroke-width="5" d="M 0 700 L 500 0"></path>\
        <path class="loginLine" style="animation: logLine 2s 3.40s infinite" stroke="rgba(255,255,255,0.6)" stroke-width="5" d="M 0 300 L 400 980"></path>\
        <path class="loginLine" style="animation: logLine 2s 3.60s infinite" stroke="rgba(255,255,255,0.6)" stroke-width="5" d="M 850 0 L 1300 980"></path>\
        <path class="loginLine" style="animation: logLine 2s 3.80s infinite" stroke="rgba(255,255,255,0.6)" stroke-width="5" d="M 1300 980 L 1920 400"></path>\
    </svg>') no-repeat fixed center center;
    background-size: cover;
}

.loginShadow {
    animation: logShadow 0.55s forwards ;
}

@keyframes logShadow {
    from {
        box-shadow: 0 0 22px 10px white;
    }
    to {
        box-shadow: 0 0 22px 30px white;
    }
}

.loginInput {
    color: white;
    background-color: black;
    padding: 8px 12px;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 6px;
    border: none;
}

.loginButton {
    width: 100px;
    padding: 7px 12px;
    color: white;
    background-color: black;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainMenuButton:hover path {
    fill: white;
    stroke: white;
}

.mainMenuButton:hover text {
    fill: black;
    stroke: black;
}

.mainMenuButton:hover {
    cursor: pointer;
}

.mainMenuButton1 {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 980">\
    <path stroke="black" fill="black" d="M 0 245 v -245 h 1920 v 122.5 Z"></path>\
    </svg>');
}

.mainMenuButton2 {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 980">\
        <path stroke="black" fill="black" d="M 0 367.5 v -122.5 L 1920 122.5 v 490 Z"></path>\
    </svg>');
}

.mainMenuButton3 {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 980">\
        <path stroke="black" fill="black" d="M 0 857.5 v -490 L 1920 612.5 v 122.5 Z"></path>\
    </svg>');
}

.mainMenuButton4 {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 980">\
        <path stroke="black" fill="black" d="M 0 857.5 v 122.5 h 1920 v -245 Z"></path>\
    <path stroke="white" stroke-width="5px" d="M 0 245 L 1920 122.5"></path>\
    <path stroke="white" stroke-width="5px" d="M 0 367.5 L 1920 612.5"></path>\
    <path stroke="white" stroke-width="5px" d="M 0 857.5 L 1920 735"></path>\
    </svg>');
}

.mainMenuButtonTextRotate {
    transform: rotate(-3.9deg);
}

.mainMenuButtonText {
    color: white;
    font-size: 110px;
    font-family: arial;
}

.mainMenu {
    position: absolute;
    top: 0;
    left: 0;
}

.hidden {
    display: none;
}