body {
    font-family: Calibri, serif;
    font-size: 17px;
}

.graphOverlay {
    position: absolute;
}

.graphSector:hover {
    background: rgba(255, 255, 255, .4);
}

.chooseGraphSectorDay:not(:hover) {
    background: rgb(255, 255, 255);
}

.chooseGraphSectorDay:hover {
    background: rgb(154, 255, 143);
}

.chooseGraphSectorNight:not(:hover) {
    background: rgb(0, 0, 0);
}

.chooseGraphSectorNight:hover {
    background: rgb(100, 55, 159);
}

#sectorsTable td{
    padding: 0;
}

#sectorsTable{
    border-collapse: collapse;
}

svg text{
    user-select: none;
}

.panelElement{
    display: block;
    margin-top: 10px;
}

.resultTable {
    background-color: #ffffff;
    border-collapse: collapse;
}

.tdWithBorders {
    padding: 4px;
    border: 1px solid #000000;
}

thead {
    background-color: #EEEEEE;
}

.box {
    background-color: #e8e8e8;
    border-radius: 15px;
    display: inline-block;
    padding: 10px;
    line-height: 35px;
}

.boxHeader {
    line-height: 20px;
    color: #000000;
}

.boxError {
    background-color: #ff7f7f;
}

.boxResult {
    background-color: #97ff89;
}

.flexRow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.flexColumn {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bold {
    font-weight: bold;
}


.hidden {
    display: none;
}





.onoffswitch {
    position: absolute; width: 84px;
    top:10px; right:10px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #e3e3e3; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; line-height: 30px;
    font-size: 14px; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Day";
    padding-left: 14px;
    background-color: #ffffff; color: #000000;
}
.onoffswitch-inner:after {
    content: "Night";
    padding-left: 38px;
    background-color: #000000; color: #FFFFFF;
}
.onoffswitch-switch {
    width: 36px; margin: -3px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 50px;
    border: 2px solid #E3E3E3; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0;
}